- parent_group = local_assigns[:parent_group]
- namespace_for_user = namespace_for_user?(namespace)
- if namespace_for_user
  = render_if_exists 'trials/banner', namespace: namespace

.billing-plan-header.content-block.center
  .billing-plan-logo
    - if namespace_for_user
      .avatar-container.s96.home-panel-avatar.gl-mr-3.float-none.mx-auto.mb-4.mt-1
        = user_avatar_without_link(user: current_user, class: 'mb-3', size: 96)
    - elsif @group.avatar_url.present?
      = group_icon(@group, class: 'border rounded mb-3 mt-1', width: 96, height: 96, alt: @group.name)
    - else
      .avatar-container.rect-avatar.s96.home-panel-avatar.gl-mr-3.float-none.mx-auto.mb-4.mt-1.rounded.border
        = group_icon(@group, class: 'avatar avatar-tile s96', width: 96, height: 96, alt: @group.name)

  %h4
    - if namespace_for_user
      = s_("BillingPlans|@%{user_name} you are currently using the %{plan_name}.").html_safe % { user_name: current_user.username, plan_name: plan.name }
    - else
      = s_("BillingPlans|%{group_name} is currently using the %{plan_name}.").html_safe % { group_name: namespace.full_name, plan_name: plan.name }

  - if namespace.free_personal?
    - groups_link = link_to s_("BillingPlans|group"), dashboard_groups_path
    %p= html_escape_once(s_("BillingPlans|Looking to purchase or manage a subscription for your group? Navigate to your %{groups_link} and go to %{strong_open}Settings &gt; Billing.%{strong_close}")).html_safe % { groups_link: groups_link.html_safe, strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
    %p.gl-mt-1
      = add_namespace_plan_to_group_instructions
  - elsif parent_group
    %p= s_("BillingPlans|This group uses the plan associated with its parent group.")
    - parent_billing_page_link = link_to parent_group.full_name, group_billings_path(parent_group)
    %p= s_("BillingPlans|To manage the plan for this group, visit the billing section of %{parent_billing_page_link}.").html_safe % { parent_billing_page_link: parent_billing_page_link }
    = link_to s_("BillingPlans|Manage plan"), group_billings_path(parent_group), class: 'btn btn-success gl-button'
  - else
    = render 'shared/billings/trial_status', namespace: namespace

  - if show_start_free_trial_messages?(namespace)
    - glm_content = namespace_for_user ? 'user-billing' : 'group-billing'
    %p
      = link_to 'Start your free trial',
        new_trial_registration_path(glm_source: 'gitlab.com', glm_content: glm_content),
        class: 'btn btn-confirm gl-button',
        data: start_free_trial_data

  - if show_extend_reactivate_trial_button?(namespace)
    .gl-mt-3
      .js-extend-reactivate-trial-button.gl-mt-3{ data: extend_reactivate_trial_button_data(namespace) }
